[MASTER]
init-hook = 'import sys; sys.path.append("src")'
ignore = .git .venv

[MESSAGES CONTROL]
disable = line-too-long

[FORMAT]
max-line-length = 120

[SIMILARITIES]
ignore-comments = yes
ignore-docstring = yes